{% extends "base.html" %}

{% block title %}
Recipes
{% endblock %}
{% block header %}
Recipes
{% endblock %}

{% block body %}
<h1>Recipes</h1>
<a href="/dashboard">Back to Dashboard</a>
<br>

{# Add Recipe #}
<form method="post">
    <input hidden name="addRecipeForm">
    <label>Recipe name</label><input name="recipeName" required><br>
    <label>Recipe description</label><input name="recipeDescription"><br>
    <label>Servings made</label><input name="servingsMade"><br>
    <label>Estimated time (minutes)</label><input name="estimatedTime"><br>
    <button type="submit">Submit</button>
</form>




{#
<div id="recipe-root" data-recipes='{{ recipes|tojson }}'></div>
<script type="module" src="{{ url_for('static', filename='js/assets/index-B-2pI71d.js') }}"></script>
React, can make TWRv3 a Single Page Application (SPA) in the future using this with "hot reloading"
#}

{# List of Saved Recipes #}
<ul> 
    {% for recipe in recipes%} 
    <li>
        {% if recipe[1] %}<strong>{{ recipe[1] }}</strong>{% endif %}{# Name #} 
        {% if recipe[3] %} - Makes: {{ recipe[3] }}{% endif %}{# Servings made #} 
        {% if recipe[4] %} - Time: {{ recipe[4] }}{% endif %}{# Estimated time #} 
        {# Calories and Macros per serving#}
        <form style="display:inline;" method="post"><input hidden name="deleteRecipe" value="{{recipe[0]}}"><button type="submit">Delete Recipe</button></form><br>
        {% if recipe[2] %}<small>{{ recipe[2] }}</small>{% endif %}{# Description #} 
    </li> 
    {% endfor %}
</ul> 
{{inventoryData}}
{# inventoryDate = items in stock not saved products
0 inventoryID, 1 itemId, 2 itemName, 3 servings, 4 useByDate, 5 caloriesPerServing, 6 ProteinPerServing, 7 carbsPerServing, 8 fatPerServing, 9 location where it's stored #}



{# Edit recipe - change item id #}

{% endblock %} 