{% extends "base.html" %}

{% block title %}
Routes
{% endblock %}


{% block body %}
<h1>Routes</h1>
<a href="/dashboard">Back to Dashbaord</a>

<h2>Create New Route</h2>
<form method="POST">
    <input hidden name="newRoute">
    <!-- Route name, description (also used to make root node) -->

    <label>Route Name:</label><br>
    <input name="newRouteName" required placeholder="Route name"><br>

    <label>Description:</label><br>
    <input name="newRouteDescription" placeholder="Description"><br>

    <button type="submit">Create Route</button>
</form>

<h3>Add Route Steps</h3>
<form method="POST">
    <input hidden name="newRouteNode">
    <!-- Name, content, type (root, text (with support for hyperlinks), task, habit, routine) -->
    
    <label>Select Route:</label>
    <select name="route_id">{% for route in routes %}<option value="{{route[0]}}">{{route[1]}}</option>{% endfor %}</select><br>

    <label>Step Name:</label>
    <input name="stepName" required placeholder="Step name"><br>

    <label>Step Type:</label>
    <select name="stepType" required>
        <option value="text">Text</option>
        <option value="task">Task</option> 
        <!--<option value="habit">Habit</option> update tasks first to add habits
        <!-- Routine is a "subclass" of habit, not implemented in tasks-->
    </select><br>

    <label>Step Content:</label>
    <textarea name="stepContent" placeholder="Step content"></textarea><br>

    <button type="submit">Add Step</button>
</form>


{% endblock %}