{% extends "base.html" %}

{% block title %}
Routes
{% endblock %}


{% block body %}
<h1>Routes</h1>
<a href="/dashboard">Back to Dashbaord</a>

<h2>Create New Route</h2>
<form method="POST">
    <input hidden name="newRoute">
    <!-- Route name, description (also used to make root node) -->

    <label>Route Name:</label>
    <input name="newRouteName" required placeholder="Route name"><br>

    <label>Route Description:</label>
    <input name="newRouteDescription" placeholder="Description"><br>

    <button type="submit">Create Route</button>
</form>

<h3>Add Route Steps</h3>
<form method="POST">
    <input hidden name="newRouteNode">
    <!-- Name, content, type (root, text (with support for hyperlinks), task, habit, routine) -->
    
    <label>Select Route:</label>
    <select name="route_id">{% for route in routes %}<option value="{{route[0]}}">{{route[1]}}</option>{% endfor %}</select><br>

    <label>Step Name:</label>
    <input name="stepName" required placeholder="Step name"><br>

    <label>Step Type:</label>
    <select name="stepType" required>
        <option value="text">Text</option>
        <option value="task">Task</option> 
        <!--<option value="habit">Habit</option> update tasks first to add habits
        <!-- Routine is a "subclass" of habit, not implemented in tasks-->
    </select><br>

    <label>Step Content:</label>
    <textarea name="stepContent" placeholder="Step content"></textarea><br>

    <button type="submit">Add Step</button>
</form>


<br><hr><br>
<h2>Existing Routes</h2>

{% for route in routes %}
<h3>{{route[1]}}</h3>
<p>{{route[2]}}</p>

<form method="POST" style="display:inline">
    <input type="hidden" name="deleteRoute">
    <input type="hidden" name="route_id" value="{{route[0]}}">
    <button style="color:red">Delete Route</button>
</form>
<br>
<strong>Steps:</strong>
<ul>
    {% for node in get_all_route_nodes(route[0]) %}
        {% if node[3] != "root" %} 
        {# stops root node from rendering since it contains same information as the route name and description #}
        <li>
            <strong>{{ node[1] }}</strong>
            <small>{{ node[3] }}</small>
            <em>{{ node[2] }}</em>
            <form method="POST" style="display: inline;">
                <input type="hidden" name="deleteStep">
                <input type="hidden" name="step_id" value="{{ node[0] }}">
                <button style="color:red;">Delete Step</button>
            </form>
        </li>
        {% endif %}
    {% endfor %}
</ul>
{% endfor %}

{% endblock %}