{% extends "base.html" %}

{% block title %}
Settings
{% endblock %}


{% block body %}
<h1>Settings</h1>
<a href="/dashboard">Back to Dashbaord</a>
<form method="post">
    <label>Name</label>
    <input name="name" value="{{ userdata[0] }}" required><br>

    <label>Weight Goal (kg)</label>
    <input name="weightGoal" type="number" step="0.1" value="{{ userdata[1] }}"><br>

    <label>Current Weight (kg)</label>
    <input name="currentWeight" type="number" step="0.1" value="{{ userdata[2] }}"><br>

    <label>Calorie Target (kcal)</label>
    <input name="calorieTarget" type="number" value="{{ userdata[3] }}"><br>

    <label>Protein Target (g)</label>
    <input name="proteinTarget" type="number" value="{{ userdata[4] }}"><br>

    <label>Carbs Target (g)</label>
    <input name="carbsTarget" type="number" value="{{ userdata[5] }}"><br>

    <label>Fat Target (g)</label>
    <input name="fatTarget" type="number" value="{{ userdata[6] }}"><br>

    <label>Water Target (ml)</label>
    <input name="waterTarget" type="number" value="{{ userdata[7] }}"><br>

    <label>Allergies</label>
    <input name="allergies" value="{{ userdata[8] }}"><br>

    <label>Dietary Preferences</label>
    <input name="dietaryPreferences" value="{{ userdata[9] }}"><br>

    <button type="submit">Save Changes</button>
</form>

{% endblock %}